.options{
    width:80%;
    height:41px;
    background-color:blueviolet;
    color:cornsilk;
}
body{
    background-color:darkblue;
}
#answerer{
    width:80%;
    height:50%;
    background-color:darkcyan;
}
#logout{
    color:darkcyan;
    background-color:darkgoldenrod;
}
#send1{
    width:80%;
    height:50%;
    color:black;
    background-color:darkgreen;
}
#send2{
    width:80%;
    height:50%;
    color:black;
    background-color:darkgreen;
}
#send3{
    width:80%;
    height:50%;
    color:black;
    background-color:darkgreen;
}
